* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

:root{
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
}

body {
 background-image: url('C:/Users/itsilva/Downloads/fylo-data-storage-component-master/fylo-data-storage-component-master/images/bg-desktop.png');
 background-repeat: no-repeat;
 background-position: bottom;
 background-size: 100vw 50vh;
 background-color: var(--very-dark-blue);
 color: var(--pale-blue);
 -webkit-font-smoothing: antialiased;
 width: 100vw;
 height: 100vh;
 max-height: 100vh;
 font-size: 14px;
}

button {
 cursor: pointer;
}

main{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 60vh;
    margin: 0px auto;
    align-items: flex-end;
}

footer{
 position: absolute;
 margin: 0 auto;
 bottom: 0;
 width: 100%;
 padding-bottom: 1%;
}

@media (max-width: 768px){
    body{
        background-position: center;
        background-size: 100vw 150vh;
    }

    main{
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        justify-content: center;
        height: 100vh;
        align-items: center;
    }
}

@media (max-width: 430px) {
    main{
    width: 95%;
    margin: 0 auto;
    height: 90vh;
    }
}

/*left icons container*/
.left-icons-container{
 display: flex;
 flex-direction: column; 
 background-color: var(--dark-blue);
 border-top-right-radius: 100px;
 border-bottom-right-radius: 8px;
 border-bottom-left-radius: 8px;
 border-top-left-radius: 8px;
 padding: 50px 120px 50px 40px;
 margin-right: 20px;
}

#fylo-logo{
 padding-bottom: 30px;
}

#fylo-icons{
    display: flex;          
}

#document-img, #folder-img, #upload-img{   
    display: flex;
    justify-content: space-evenly; 
    object-fit: contain;
    padding: 13px;
    margin-right: 20px;
    border-radius: 8px;
    background-color: var(--very-dark-blue);    
}

#upload-img:last-child{   
    margin: 0;  
}

@media (max-width: 1024px){
    .left-icons-container{
        padding: 40px 100px 40px 40px;
        margin-right: 10px;
    }
}

@media (max-width: 768px){
    .left-icons-container{
        margin-right: 0;
        margin-bottom: 20px;
        width: 300px;
    }
}

@media (max-width: 430px) {
    .left-icons-container{
        width: 95%
    }
}

/*storage status*/
.storage-status-container{
    background-color: var(--dark-blue); 
    padding: 50px;
    border-radius: 8px;
    margin-left: 20px;
}

#storage-bar-bg{
    background-color: var(--very-dark-blue);
    width: 500px;
    height: 20.5px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    clear: both;
    margin-top: 20px;
}

#storage-bar{
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    width: 407.5px;
    height: 14.5px;
    border-radius: 30px;
    margin-left: 3px;
}

.storage-status-container h1{
    display: block;
    float: right;
    margin-top: -180px;
    color: var(--very-dark-blue);
    background-color: var(--pale-blue);
    font-size: 42px;
    padding: 12px 30px;
    border-radius: 8px;
    position: relative;
}

.storage-status-container h1:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 0px;
    border-top: 40px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid transparent;
    border-right: 40px solid var(--pale-blue);
}

.storage-status-container span{
    font-size: 12px;
    position: relative;
    word-spacing: 2px;
    top: -10px;
    color: var(--grayish-blue);
    z-index: 999;
}

#remaining-space{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: 700;
}

#dot-bar{
    background-color: var(--pale-blue);
    float: right;
    height: 11.5px;
    width: 11.5px;
    margin-right: 3px;
    margin-top: 1.5px;
    border-radius: 50%;
}

@media (max-width: 1024px){
    .storage-status-container{
        padding: 40px;
        margin-left: 10px;
        width: 50%
    }

    #storage-bar-bg{
        width: 100%
    }

    #storage-bar{
        width: 81.5%;
    }
}

@media (max-width: 768px){
    .storage-status-container{
        margin-left: 0;
        margin-top: 20px;
        width: 90%;
        position: relative;
    }

    .storage-status-container h1:after {
        display: none;
    }

    #left-message{
        right: 15%;
        left: 15%;
        position: absolute;
        margin: 0 auto;    
        clear: both;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 75px;
    }

    #remaining-space{
        margin-bottom: 20px;
    }
}

@media (max-width: 430px){
.storage-status-container{
    width: 95%;
    padding: 25px;
    }
}

/*footer*/

.attribution a { 
 color: hsl(228, 45%, 44%); 
}

.attribution {
 font-size: 11px; 
 text-align: center; 
}


